ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

<img src="Untitled.png" alt="music" style="width:304px;height:228px;">
<ul>
  <li><a href="home.html">Home </a></li>
  <li><a href="about.html">About </a></li>
  <li><a href="search for car.html">Search for car</a></li>
  <li><a href="Registration.html">Registration</a></li>
  <li><a href="Contact us.html">Contact us </a></li>
<li style="float:right"><a class="active" href="Login.html">Login</a></li>
</ul>